body {
  font-size: 14px;
}
.title {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
// header start
header {
  .nav-container{
    position: relative;

    .callback{
      position: absolute;
      right: 40px;
      top: 75px;
      z-index: 9999;
      height: 50px;
      width: 200px;
      font-size: 20px;
      font-weight: 500;
      color: #fff;
      background-color: #ffab00e6;

    }
  }
  .container {
    padding: 0;
  }
  .telephone {
    font-size: 14px;
    display: inline-block;
     a {
       color: black;
       alignment: center;
       font-weight: 500;
       padding-left: 10px;
     }
    a:hover {
      text-decoration: none;
    }
  }

  .logo {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    max-height:115px;
  }

  .navigation {
    min-height: 120px;
    background-color: #3c3c3c;
  }
  .navbar-inverse {
    border: none;
  }

  .navbar {
    margin-bottom: 0;
  }
  .nav {
    float: right;
    font-size: 16px;
    font-weight: 600;
    color: #fff !important;
    li {
      a {
        color: #fff;
      }
      a:hover {
        border-radius: 5px;
        background-color: deepskyblue;
      }

      a:focus {
        background-color: transparent;
      }
    }

  }
  .navbar-toggle {
    float: right;
  }

}
@media (min-width: 768px) and (max-width: 980px){
  header{
    #w0-collapse {
      margin-top: 60px;
    }
  }
}


@media (min-width: 768px) and (max-width: 980px){
  header{
    #w0-collapse {
      margin-top: 60px;
    }
  }
}

@media screen and (max-width: 768px){

  header {
    .navbar-toggle {
      position: absolute;
      right: 40px;
      height: 60px;
      width: 45px;
      margin-top: 0;
      top: 30px;
    }
  }
}

@media all and (min-width: 981px){
  header{
    .callback {
      right: 20px !important;
      top: 30px !important;
    }
  }
}

//@media screen and (max-width: 960px){
//  header {
//    .navbar-toggle {
//      display: block;
//      position: absolute;
//      right: 40px;
//      height: 60px;
//      width: 45px;
//      margin-top: 0;
//      top: 30px;
//    }
//    .nav {
//      padding-left: 0;
//      margin-bottom: 0;
//      list-style: none;
//      padding-top: 120px;
//      border: none;
//
//    }
//    .navbar-collapse {
//      border: none;
//      -webkit-box-shadow: none;
//      box-shadow: none;
//    }
//  }
//}
//
//@media screen and (max-width: 768px){
//  header {
//    .navbar-toggle {
//      position: absolute;
//      right: 40px;
//      height: 60px;
//      width: 45px;
//      margin-top: 0;
//      top: 30px;
//    }
//    .nav {
//      padding-left: 0;
//      margin-bottom: 0;
//      list-style: none;
//      padding-top: 120px;
//      border: none;
//
//    }
//    .navbar-collapse {
//      border: none;
//      -webkit-box-shadow: none;
//      box-shadow: none;
//    }
//  }
//
//}



// header end

#o-nas {
  background-color: #b6b3b3;
  .row {
    margin: 50px 0;

    .wrapper-text {
      font-size: 16px;
      font-weight: 500;
      .text-descript {
        text-indent: 30px;
        strong{
          font-size: 18px;
        }
      }
      img {
        height: 180px
      }
      .img-manager-1 {
        float: left;
        padding-right: 20px;
        padding-bottom: 10px;
      }
      .img-manager-2 {
        float: right;
        padding-left: 20px;
        padding-bottom: 10px;
      }
      .img-manager-1,
      .img-manager-2 {
        .caption {
          margin-top: 5px;
          font-style: italic;
          font-size: 12px;
          max-width: 180px;
          border-radius: 5px;
          padding: 3px;
          background-color: #9d9d9d;
          display: table;
        }
      }
    }
  }
}

// products start
#products {
  height: 650px;
  background-color: #2b542c;
}
// products end

// requirements for models start
#need{
  background-color: #cecece;
  font-size: 16px;
  .row {
    margin: 50px 0;

    .terms {
      h3 {
        text-transform: uppercase;
        display: block;
        text-align: center;
        font-weight: 600;
        color: #8b0000;
      }
    }

    .title-part{
      text-transform: uppercase;
      display: block;
      text-align: center;
      font-weight: 600;
      color: #8B0000;
    }

    .img-wrapper-formats {
      display: block;
      text-align: center;
      margin-bottom: 20px;
      .img-formats {
        background-color: transparent;
        max-width: 80px;
        max-height: 80px;
      }

    }
    .file-with-requirements {
      font-size: 14px;
      font-weight: bold;
      .download-file {
        color: #8B0000;
      }
    }
  }
}

// requirements for models end

// delivery and payments start
#delivery{
  background-color: #9d9d9d;
  .row{
      margin: 50px 0;
      font-size: 14px;

    .img-payment,
    .img-delivery {
      height: 60px;
      vertical-align: baseline;
    }
    .delivery,
    .payment{
      ul {
        padding: 0;
        list-style-type: none;
      }
      .img-nal,
      .img-beznal,
      .img-taxi,
      .img-novap,
      .img-intime,
      .img-ukrposta {
        height: 50px;
        border-radius: 5px;
        vertical-align: baseline;
      }
    }
  }
}
// delivery and payments end

// contacts start
#contacts{
  background-color: #dfdfdf;
  font-size: 16px;
  .row {
    margin: 50px 0;
    #map {
      height: 400px;
      display: block;
    }
    .wrapper-map{
      .row {
        margin: 0;
      }
    }

    .schedule,
    .contact,
    .phones-emails {
      p>span {
        font-size: 16px;
        font-weight: 600;

      }
      a{
        text-decoration: none;
        color: #0f0f0f;
      }
      .detail {
        font-size: 12px;
      }
      .red {
        color: darkred;
      }
    }

  }
}
// contacts end

// footer start
footer {
  .container {
    padding: 0;
    background-color: #3c3c3c;
    min-height: 120px;
    .contact {

      padding-top: 25px;
      display: block;
      font-size: 16px;
      font-weight: 600;
      .wrapper-contact {
        //border-right: 1px solid #fff;
        a {
          display: ruby-text;
          margin-bottom: 10px;
          padding-left: 30px;
          color: #fff;
        }
        a:hover {
          text-decoration: none;
        }
      }
    }

    .form-subscribers {
      width: 100%;
      padding-left: 30px;
      padding-top: 25px;
      display: block;
      font-size: 12px;
      color: #fff;
      font-weight: 600;
        p { margin-bottom: 13px}
        input {
          height: 30px;
          width: 200px;
          color: black;
        }
        button {
          height: 30px;
          color: #fff;
          margin-left: 10px;
          border-radius: 5px;
          border: 1px solid #fff;
          background-color: #2aabd2;
        }

    }
  }
}

#toTop {
  display: none;
  background: url("/web/images/site/arrow-top.png") no-repeat scroll 0 0 transparent;
  bottom: 30px;
  height: 46px;
  position: fixed;
  right: 30px;
  width: 46px;

}

@media screen and (max-width: 1024px){
  footer {
    .container {
      .contact {
        .wrapper-contact {
          border: none;
        }
      }
    }
  }

}
// footer end